<!DOCTYPE html>
<html>
  <head>
    <title>Реактивная тяга уретры</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Blockchain', root_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= content_tag :li, class: (controller_name == 'exchange_rates' ? 'active' : '') do %>
                <%= link_to 'Курсы', exchange_rates_path %>
            <% end %>
            <%= content_tag :li, class: (controller_name == 'glasses' ? 'active' : '') do %>
                <%= link_to 'Стакан', glasses_path %>
            <% end %>
            <%= content_tag :li, class: (controller_name == 'arbitrage_periods' ? 'active' : '') do %>
                <%= link_to 'Праздники', arbitrage_periods_path %>
            <% end %>
            <%= content_tag :li, class: (controller_path =~ /graphs/ ? 'active' : '') do %>
                <%= link_to 'Графики', graphs_arbitrage_path %>
            <% end %>
            <%= content_tag :li, class: (controller_name == 'downloads' ? 'active' : '') do %>
                <%= link_to 'Выгрузка', downloads_path %>
            <% end %>
            <%= content_tag :li, class: (controller_name == 'stocks' ? 'active' : '') do %>
                <%= link_to 'Инфо', stocks_path %>
            <% end %>
            <%= content_tag :li do %>
                <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
